

<svg-Parts></svg-Parts>


<nav>
  <form #selection="ngForm">
    <label>
      <input
        type="radio"
        value="Straight"
        name="pieceSelection"
        [(ngModel)]="selectedValue"
        #pieceSelection="ngModel"
      />
      Straight
    </label>
    <label>
      <input
        type="radio"
        value="Corner"
        name="pieceSelection"
        [(ngModel)]="selectedValue"
        #pieceSelection="ngModel"
      />
      Corner
    </label>
  </form>
  <button (click)="createAndAddNewElement()">Create</button>
  <br />
  <br />
  <button onclick="moveLeft()">Move Left</button>
  <button onclick="moveRight()">Move Right</button>
  <button onclick="moveUp()">Move Up</button>
  <button onclick="moveDown()">Move Down</button>
  <button onclick="rotate()" style="display: block;">Rotate</button>
  <button onclick="done()" style="display: block; width: 100px;">Done</button>
</nav>

<svg
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  width="1400"
  height="1000"
  #mainBoard
>
  <rect fill="#4dff88" width="100%" height="100%"></rect>

  <svg envelope [pieceName]="createdElement" ></svg>
</svg>
